body {
  background-color: rgba(255, 5, 247, 0.01);
}

h2{
  font-family: 'Pacifico', cursive;
  color: #630453 ;
}

.meta-row {
  margin-bottom: 30px ;
}

.post-author{
  font-size: 20px ;
}

.post-date{
  font-size: 16px ;  
  font-family: 'Pacifico', cursive;
  color: #630453 ;
}

.post_title {
  text-align: center ;  
}

iframe {
  margin-left: auto ;
  margin-right: auto ;
}

.patreon_container {
  text-align: right ;
  margin-bottom: 20px ;
}

a {
  color: #630453 ;
}

.become-patron-button {
  display: inline-block;
  font-family: sans-serif;
  background: #F96854 ;
  color: white;
  padding: .5rem 1rem;
  border-radius: 3px;
  text-decoration: none;
  font-weight: 700;
  user-select: none;
  border: 1px solid #F96854 ; 
  text-transform: uppercase;
  text-decoration: none ;
  width: 100% ;
  text-align: center ;
  margin-top: 10px ;
  margin-bottom: 10px ;
}

.become-patron-button:hover {
  color: white;
  text-decoration: none ;
}

p {
  font-family: 'Roboto', sans-serif;
  font-size: 20px ;
  margin-top: 20px ;
  margin-bottom: 20px ;
}

.box-image-text .image {
  min-height: 200px;
  max-height: 200px;
}

.box-simple {
  min-height: 230px;
}

.home-carousel h1 {
  text-transform: none ;
}

.home-carousel h2 {
  text-transform: none ;
}

.home-carousel p {
  text-transform: none ;
}

.owl-carousel a {
  color: white ;
}

.navbar .nav > li > a {
  text-transform: none;
  text-decoration: none ;
}

.home-carousel .dark-mask {
  background: #986dbd;
  opacity: 0.8;
  filter: alpha(opacity=80);
}

.bar {
  height: 1000px;
}

.bar .lead a {
  color: white ;
}

#heading-breadcrumbs {
  background: none;
  padding: 20px 0;
  margin-bottom: 40px;
}

.navbar {
  background: #f5f5f5;
  border-bottom: 1px solid #eaeaea;
}

.navbar ul.nav > li > a {
  text-transform: none  ;
  text-decoration: none ;
}

#heading-breadcrumbs {
  margin-bottom: 0px ;
  text-transform: none ;
}

#heading-breadcrumbs h1 {
  text-transform: none ;
}

pre {
  border: none ;
  font-size: 14px ;
  margin: 0px ;
  padding: 0px ;
  background: #f2f2f2 ;
}

.hljs{
  padding-left: 5px ;
  background: #f2f2f2 ;
}


.post-taxonomy-tag {
  padding: 5px;
  color: #630453 ;
}

#post-content {
    font-size: 20px ;
    margin-top: 30px ;
}

#blog-listing-medium .post h2 {
  text-transform: none ;
  font-weight: normal ;
}

#blog-listing-medium .post h2 a {
  border-bottom: 1px solid #ddd;
}

#blog-listing-medium .post {
  margin-bottom: 10px ;
}

.year-summary {
  margin-top: 40px ;
}

#article-nav, .article-date {
  display: flex;
  align-items: stretch;
  clear: both;
  font-size: 16px ;
}

#article-nav-older, #article-nav-newer, .article-date span {
  flex: 1;
}
#article-nav-newer {
  text-align: right;
}
.article-nav-link-wrap {
  display: block;
  text-decoration: none;
}
.article-toolbar a {
  margin-left: .2em;
}
.article-toolbar a:hover, .article-toolbar a:focus {
  color: #222;
}
.article-duration{
  margin-top: 12px;
  float: right;
  font-size: 12px;
  padding: 1px 5px;
  font-weight: bold;
  border-radius: 3px;
  background: #bbb;
  color: #fff
}

.post_title {
  margin-bottom: 20px ;
  font-size: 60px ;
}

.banner {
  background-color: rgba(155, 3, 126, 0.41);; 
  border-radius: 25px ;
  color: white;
  margin-top: 20px ;
  margin-bottom: 20px ;
  padding: 20px ;
  font-size: small ;
  font-family: 'Noto Sans', sans-serif;
}

.right-banner{
  background-color: rgba(155, 3, 126, 0.41);
  color: white;
}

.meta-tags{
  text-align: left ;
  font-size: small ;
  margin-bottom: 5px ;
  margin-top: 5px ;
  margin-left: 0 ;
}

.social-entry, .social-entry a {
  color: white ;
  font-size: 16px ;
  font-family: monospace ;
}

.post .row a {
  margin-left: 40px ;
}

.note {
  color: gray ; 
  font-size: 12px; 
  font-style:italic;
}

.note:hover {
  color: black ; 
}

.huuuge{
  font-size: 180px;
  color: #FFFFFF88 ;
  text-align: center ;
}



