/* your styles go here */

.box-image-text .image {
  min-height: 200px;
  max-height: 200px;
}

.box-simple {
  min-height: 230px;
}

.home-carousel h1 {
  text-transform: none ;
}

.home-carousel h2 {
  text-transform: none ;
}

.home-carousel p {
  text-transform: none ;
}

.owl-carousel a {
  color: white ;
}

.navbar .nav > li > a {
  text-transform: none;
  text-decoration: none ;
}

.home-carousel .dark-mask {
  background: #986dbd;
  opacity: 0.8;
  filter: alpha(opacity=80);
}

.bar {
  height: 1000px;
}

.bar .lead a {
  color: white ;
}

#heading-breadcrumbs {
  background: none;
  padding: 20px 0;
  margin-bottom: 40px;
}

.navbar {
  background: #f5f5f5;
  border-bottom: 1px solid #eaeaea;
}

.navbar ul.nav > li > a {
  text-transform: none  ;
  text-decoration: none ;
}

#heading-breadcrumbs {
  margin-bottom: 0px ;
  text-transform: none ;
}

#heading-breadcrumbs h1 {
  text-transform: none ;
}

pre {
  border: none ;
  background-color: #eee ;
  padding: 20px ;
  margin-top: 10px;
  margin-bottom: 10px ;
  font-size: 16px ;
}

body {
  font-size: 16px ;
}

.post-taxonomy-tag {
  padding: 5px;
  color: #986dbd ;
}

#post-content {
    margin-top: 30px ;
}

#blog-listing-medium .post h2 {
  text-transform: none ;
  font-weight: normal ;
}

#blog-listing-medium .post h2 a {
  border-bottom: 1px solid #ddd;
}

#blog-listing-medium .post {
  margin-bottom: 10px ;
}

.year-summary {
  margin-top: 40px ;
}

#article-nav {
  display: flex;
  align-items: stretch;
  clear: both;
  margin-top: 10px ;
  font-size: 16px ;
}

#article-nav-older, #article-nav-newer, .article-date span {
  flex: 1;
}
#article-nav-newer, .article-date .article-toolbar {
  text-align: right;
}
.article-nav-link-wrap {
  display: block;
  text-decoration: none;
}
.article-toolbar a {
  margin-left: .2em;
}
.article-toolbar a:hover, .article-toolbar a:focus {
  color: #222;
}
