/* your styles go here */

.box-image-text .image {
  min-height: 200px;
  max-height: 200px;
}

.box-simple {
  min-height: 230px;
}

.home-carousel h1 {
  text-transform: none ;
}

.home-carousel h2 {
  text-transform: none ;
}

.home-carousel p {
  text-transform: none ;
}

.owl-carousel a {
  color: white ;
}

.navbar ul.nav > li > a {
  text-transform: none;
  text-decoration: none ;
}

.home-carousel .dark-mask {
  background: #986dbd;
  opacity: 0.8;
  filter: alpha(opacity=80);
}
