<!DOCTYPE html>
<html lang="en">

  {{ partial "head.html" . }}

  <body>

    <div id="all">

        <header>

          {{ partial "nav.html" . }}

        </header>

        <div id="content">
            <div class="container">


                <h2 class="post_title">{{ .Title }}</h2>
                      

                <div class="row">
                  <div class="col-md-8" id="blog-post">
                     <div class="post-author">
                        <h2>{{ if .Params.author }} {{ .Params.author }} {{ end }}</h2>
                      </div>
     
                      <div class="post-date">
                        {{ .Date.Format .Site.Params.date_format }}
                      </div>
      
                      {{ partial "tags.html" . }}
                      
                      {{ partial "article_meta.html" . }}
                    
                      <div id="post-content">
                          {{ .Content }}
                      </div>
                        
                      {{ partial "gallery.html" . }}

                      {{ partial "prev_next.html" . }}

                      {{ if .Site.DisqusShortname }}
                      <div id="comments">
                          {{ template "_internal/disqus.html" . }}
                      </div>
                      {{ end }}

                    </div>
                    
                    <div class="col-md-4" id="blog-post">
                      {{ partial "sidebar.html" . }}
                    </div>
                    
                </div>
                <!-- /.row -->

            </div>
            <!-- /.container -->
        </div>
        <!-- /#content -->

        {{ partial "footer.html" . }}

    </div>
    <!-- /#all -->

    {{ partial "scripts.html" . }}

    {{ if .Params.gallery }}
    <script src="/lib/gallery/js/blueimp-gallery.min.js"></script>

    <script>
    blueimp.Gallery(
    document.getElementById('links').getElementsByTagName('a'),{
        container: '#blueimp-gallery-carousel',
        carousel: true
    });
    </script>

    {{ end }}

  </body>
</html>
